<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFoodStorage" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57254/FoodStorage.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFoodStorage" contract="ServiceReference1.IFoodStorage"
                name="BasicHttpBinding_IFoodStorage" />
        </client>
    </system.serviceModel>
</configuration>